<script>
    $(function () {
        $("#tabs").tabs();

        $("#logout")
                .button()
                .click(function (event) {
                    event.preventDefault();
                    location.href = "logout_go.php";
                });
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Tab 1</a></li>
        <li><a href="#tabs-user">User</a></li>
    </ul>
    <div id="tabs-1">
        <h2>Tab 1</h2>
        <p><a href="dbtable.php?table=user">User table</a></p>
        <p><a href="dbtable.php?table=log">Log table</a></p>
    </div>
    <div id="tabs-user">
        <h2>User</h2>
        <p>
            <button id="logout">Logout</button>
        </p>
    </div>
</div>