<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-login">Login</a></li>
    </ul>
    <div id="tabs-login">
        <h2>Login</h2>

        <form action="login_go.php" method="post" id="loginForm">
            <p>
                <label for="username">Username:</label>
                <input id="username" name="username" type="text" value="" />
            </p>
            <p>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" value="" />
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>




