<script>
    $(function () {
        $("#tabs").tabs();

        $('html, body').animate({
            scrollTop: 0
        }, 'fast');

        $( "#home" ).click(function () {
            window.location = "index.php";
        });
    });
</script>

<div id="tabs">
    <ul>
        <li id="home"><a href="#tabs-home">Home</a></li>
        <li><a href="#tabs-result">Search Result</a></li>
        <li><a href="#tabs-edit">Edit</a></li>
        <li><a href="#tabs-add">Add</a></li>
    </ul>

    <div id="tabs-home">
        <h2>Search</h2>
    </div>

    <div id="tabs-result">
        <h2>Search Result</h2>

        <table border="1">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>DisplayName</th>
                <th>Level</th>
                <th></th>
            </tr>
            {foreach from=$data.users item=row}
            <tr>
                <td>{$row.User_Id}</td>
                <td>{$row.User_Username}</td>
                <td>{$row.User_DisplayName}</td>
                <td>{$row.User_Level}</td>
                <td class="center"><a href="?id={$row.User_Id}#tabs-edit">More Info</a></td>
            </tr>
            {/foreach}
        </table>
        <p><i>Last Update: {$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}</i></p>
    </div>

    <div id="tabs-edit">
        <h2>Edit</h2>

        <form action="user_edit_go.php" method="post">
            <input id="edit_id" name="id" type="hidden" value="{$data.edit.User_Id}" />
            <p>
                <label for="edit_username">Username:</label>
                <input id="edit_username" name="username" type="text" value="{$data.edit.User_Username}" />
            </p>
            <p>
                <label for="edit_password">Password:</label>
                <input id="edit_password" name="password" type="password" value="" />
            </p>
            <p>
                <label for="edit_displayName">Display Name:</label>
                <input id="edit_displayName" name="displayName" type="text" value="{$data.edit.User_DisplayName}" />
            </p>
            <p>
                <label for="edit_level">Level:</label>
                <input id="edit_level" name="level" type="text" value="{$data.edit.User_Level}" />
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="tabs-add">
        <h2>Add</h2>

        <form action="user_add_go.php" method="post">
            <p>
                <label for="add_username">Username:</label>
                <input id="add_username" name="username" type="text" value="" />
            </p>
            <p>
                <label for="add_password">Password:</label>
                <input id="add_password" name="password" type="password" value="" />
            </p>
            <p>
                <label for="add_displayName">Display Name:</label>
                <input id="add_displayName" name="displayName" type="text" value="" />
            </p>
            <p>
                <label for="add_level">Level:</label>
                <input id="add_level" name="level" type="text" value="" />
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
