Options -Indexes
SetEnvIf TEMPLATE_URL ^(.*)$ TEMPLATE_URL=/frameworkTemplate/templates
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/css/((.*).css)$ %{ENV:TEMPLATE_URL}/css/$2
RewriteRule ^(.*)/js/((.*).js)$ %{ENV:TEMPLATE_URL}/js/$2
RewriteRule ^(.*)/img/((.*).(png|jpg|gif))$ %{ENV:TEMPLATE_URL}/img/$2
